{% extends "home.html"%}



{% block one %}
 <h1>hello world</h1>
<h1>w3schools</h1>

<ul>
    {% for messagggg in w3school_list %}
<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active"><li>{{messagggg.text}}</li></a>
  <a href="#" class="list-group-item list-group-item-action"><li>{{messagggg.text}}</li></a>
<!--  <a href="#" class="list-group-item list-group-item-action disabled"><li>{{messagggg.text}}</li></a>-->
</div>
    {% endfor %}
</ul>
{%endblock one%}
