{% extends 'base.html'%}

{% block title %}
{% load crispy_forms_tags %}
password change
{% endblock title %}

{% block content %}
<div class="container">
    <div>
        <h1>password change</h1>
        <p>please enter your old password, for security's sake, and then enter
            your new password twice so we can verify you typed it in crrectly.</p>
        <form method="post">
            {% csrf_token %}
            {{form|crispy }}
            <br>
            <input type="submit" value="change my password" class="btn btn-success">
        </form>
    </div>
</div>
{% endblock content %}